<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Kit Classification Page</title>
</head>
<body>

<!-- Kit Classification on Home Page -->
	<section class="mb-5" style="width: 99%; height: 60vh;">
		<div class="container">
		<div class="text-center my-5">
		<h1>Outdoor Games</h1>
		<hr/>
		</div>
		
		<!-- Row Start -->
		<div class="row">
		<div class="col-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/cricketkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Cricket Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Batting Pads</li>
    <li class="list-group-item m-auto">Thigh Pads</li>
    <li class="list-group-item m-auto">Abdominal Guard</li>
    <li class="list-group-item m-auto">Chest Guard</li>
    <li class="list-group-item m-auto">Cricket Bat</li>
    <li class="list-group-item m-auto">Helmet</li>
    <li class="list-group-item m-auto">Batting Gloves</li>
    <li class="list-group-item m-auto">Elbow Guard</li>
    <li class="list-group-item m-auto">Cricket Ball</li>
    <li class="list-group-item m-auto">Cricket Shoes</li>
    <li class="list-group-item m-auto">Inner Gloves</li>
     <li class="list-group-item m-auto">Arm Guard</li>
      <li class="list-group-item m-auto">A Kit Bag</li>
     </ul>
    
</div>
</div>

<div class="col-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/footballkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Football Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Shin Guards</li>
    <li class="list-group-item m-auto">Boots</li>
    <li class="list-group-item m-auto">Socks</li>
    <li class="list-group-item m-auto">Shorts</li>
    <li class="list-group-item m-auto">Jersey</li>
    <li class="list-group-item m-auto">Helmet</li>
    <li class="list-group-item m-auto">Shoulder Pads</li>
    <li class="list-group-item m-auto">Thigh Pads</li>
    <li class="list-group-item m-auto">Knee Pads</li>
    <li class="list-group-item m-auto">Gloves</li>
    <li class="list-group-item m-auto">Football</li>
     <li class="list-group-item m-auto">Jockstraps</li>
      <li class="list-group-item m-auto">Duffle Bags</li>
  </ul>
</div>
</div>

		<div class="col-4 ">
		<div class="card" style="width: 18rem; ">
  <img src="../images/kitimages/hockeykit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Hockey Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Hockey Stick</li>
    <li class="list-group-item m-auto">Shoes</li>
    <li class="list-group-item m-auto">Socks</li>
    <li class="list-group-item m-auto">Mouth Guard</li>
    <li class="list-group-item m-auto">Jersey</li>
    <li class="list-group-item m-auto">Shin Guards</li>
    <li class="list-group-item m-auto">Sick Guards </li>
    <li class="list-group-item m-auto">Rash Guards</li>
    <li class="list-group-item m-auto">Stick Bag</li>
    <li class="list-group-item m-auto">Grip</li>
    <li class="list-group-item m-auto">Ball</li>
    <li class="list-group-item m-auto">Electrical Tape</li>
     <li class="list-group-item m-auto">Elbow Protector</li>
   </ul>
</div>
</div>
</div>


<div class="row">
<div class="col-2"></div>
<div class="col-4 mt-4 mb-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/basketkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Basketball Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Ball</li>
    <li class="list-group-item m-auto">Hoop</li>
    <li class="list-group-item m-auto">Socks</li>
    <li class="list-group-item m-auto">Shorts</li>
    <li class="list-group-item m-auto">Jersey</li>
    <li class="list-group-item m-auto">Whistles</li>
    <li class="list-group-item m-auto">Shoes</li>
    <li class="list-group-item m-auto">Bags</li>
    <li class="list-group-item m-auto">Nets</li>
  </ul>
</div>
</div>

<div class="col-4 mt-4 mb-4">
		<div class="card" style="width: 18rem; ">
  <img src="../images/kitimages/volleykit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Volleyball Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Ankle Braces</li>
    <li class="list-group-item m-auto">Arm Sleeves</li>
    <li class="list-group-item m-auto">Socks</li>
    <li class="list-group-item m-auto">Jersey</li>
    <li class="list-group-item m-auto">Shoes</li>
    <li class="list-group-item m-auto">Ball</li>
    <li class="list-group-item m-auto">Bags</li>
    <li class="list-group-item m-auto">Elbow Pads</li>
    <li class="list-group-item m-auto">Knee Pads</li>
  
  </ul>
</div>
</div>
		</div>
		
		
		
<div class="text-center my-5">
		<h1>Indoor Games</h1>
		<hr/>
		</div>
		
		<!-- Row Start -->
		<div class="row">
		<div class="col-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/carromkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Carrom Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Carrom Board</li>
    <li class="list-group-item m-auto">Carrom Men</li>
    <li class="list-group-item m-auto">Carrom Striker</li>
    <li class="list-group-item m-auto">Carrom Powder</li>
  
  </ul>
</div>
</div>

<div class="col-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/badmintonkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Badminton Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Rackets</li>
    <li class="list-group-item m-auto">Court Shoes</li>
    <li class="list-group-item m-auto">Badminton Net</li>
    <li class="list-group-item m-auto">Shuttle cock</li>
  </ul>
</div>
</div>

<div class="col-4">
		<div class="card" style="width: 18rem;">
  <img src="../images/kitimages/chesskit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Chess Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Chess Set</li>
    <li class="list-group-item m-auto">Chess Board</li>
    <li class="list-group-item m-auto">Chess Tables</li>
    <li class="list-group-item m-auto">Chess Clocks</li>
  </ul>
</div>
</div>
</div>

	
<div class="row">
<div class="col-2"></div>
		<div class="col-4 mt-4 mb-4">
		<div class="card" style="width: 18rem; ">
  <img src="../images/kitimages/tablekit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Table Tennis Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Ball</li>
    <li class="list-group-item m-auto">Paddles</li>
    <li class="list-group-item m-auto">Tables</li>
    <li class="list-group-item m-auto">Nets And Posts</li>
  </ul>
</div>
</div>

<div class="col-4 mt-4 mb-4">
		<div class="card" style="width: 18rem; ">
  <img src="../images/kitimages/arrowkit.jpg" class="card-img-top" alt="...">
  <div class="card-body m-auto">
    <h5 class="card-title">Archery Kit</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item m-auto">Arm Guards</li>
    <li class="list-group-item m-auto">Arrows</li>
    <li class="list-group-item m-auto">Bows</li>
    <li class="list-group-item m-auto">Chest Guards</li>
  </ul>
</div>
</div>
<button type="button"  class="nav-item mb-5"><a class="nav-link active" th:href="@{/payment}">Make Payment</a></button>
		</div>
		</div>
		
	</section>
</body>
</html>