<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />

<title>update page</title>
</head>
<body>
	<section>
	<div class="p-5">
		<form th:action="@{/user/updateplayer}" method="POST">

											<!--Tournament name -->
											<div class="mb-1">
												</label> <input th:value="${tplayer.Mpid}" required type="hidden" class="form-control"
													name="Mpid" id="exampleInputEmail1"
													aria-describedby="emailHelp" >
											</div>

											<!--Tournament name -->
											<div class="mb-1">
												<label for="exampleInputEmail1" class="form-label">Player
													Name</label> <input th:value="${tplayer.Mpname}" required type="text" class="form-control"
													name="Mpname" id="exampleInputEmail1"
													aria-describedby="emailHelp">
											</div>

											<!-- Start Date -->
											<div class="mb-1">
												<label for="exampleInputEmail1" class="form-label">Team
													</label> <input th:value="${tplayer.Mpteam}" required type="text" class="form-control"
													name="Mpteam" id="exampleInputEmail1"
													aria-describedby="emailHelp">
											</div>
											

											<hr />
											<!-- Close & Submit -->
											<div class="modal-footer">
												<a th:href="@{'/user/viewTPlayers/'+${tplayer.tmatch.Mid}}"><button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Back</button></a>
												<button type="submit" class="btn btn-primary">Update</button>
											</div>
										</form>
										</div>
	</section>
</body>
</html>