<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>About page</title>
</head>

<body>
	<section style="width: 100%; height: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h1 class="section_subtitle">About Us</h1>
					<p style="font-size:20px;">Get to know more about MySportsClub and the Story behind it</p>
					<h2 class="section_main_title">Our <strong>Story</strong></h2>
					<p style="font-size:20px; ">We are a team of highly experienced individuals in the field of Sports
						and Technology. We have seen operations of sports organizations very closely and understand the
						pain suffered by everyone involved in their management.</p><br>
					<p style="font-size:20px; ">We aim to assist Sports organizations with next-gen cutting edge
						technology solutions to bring efficiency and excellence in their operations and elevate the way
						they measure and track the performance of the athletes.</p>

				</div>
				<div class="col-4 mx-auto mt-4">
					<div class="card h-100 p-3" style="background-color:black;">
						<img src="./images/about.jpg" class="card-img-top" alt="...">
						<i class="fa-thin fa-hashtag ms-4 mt-4 fa-2x text-info">Xstream_Sports_Clubs</i>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-4 mb-4">
					<div class="card h-100 mt-5 p-3" style="background-color:#D3DEDC;">
						<i class="fa fa-book fa-2x m-auto"></i>
						<h3 class="text-center ">OUR MISSION</h3>
						<hr>
						<p style="font-size:20px;">To deliver technology to the sports organizations in nooks and
							corners of India along with helping the organizations in rural areas with basic
							infrastructure to promote sports and fitness. improve the physical and emotional lives of
							current and former athletes, and inspire positive social change.</p>
					</div>
				</div>

				<div class="col-4 mb-4">
					<div class="card mt-5 h-100 p-3" style="background-color:#D3DEDC;">
						<i class="fa fa-globe fa-2x m-auto"></i>
						<h3 class="text-center">OUR VISION</h3>
						<hr>
						<p style="font-size:20px;">To build solutions that will minimize operational overheads to the
							most possible extent to increase the efficiency and profitability of our partners. inspire
							the next generation of leaders to improve the lives of athletes and to act as stewards of
							the best practices in the sports industry as a whole.</p>
					</div>
				</div>

				<div class="col-4 mb-4">
					<div class="card mt-5 h-100 p-3" style="background-color:#D3DEDC;">
						<i class="fa fa-bullseye fa-2x m-auto"></i>
						<h3 class="text-center">GOALS</h3>
						<hr>
						<p style="font-size:20px;">The Center for Sport has four pillars – research, education, service,
							and community. Community is where the power of sport is most evident.Any definition of
							success in a civil society includes a commitment to serve, and improve the whole of a
							society through actions of the individual.</p>
					</div>
				</div>
			</div>


			<div>
				<h5 class=" card p-4 mt-5 text-white " style="background-color:#191A19;">“Sport has the power to change
					the world. It has the power to inspire. It has the power to unite people in a way that little else
					does. It speaks to youth in a language they
					understand. Sport can create hope where once there was only despair.” </h5>
			</div>
		</div>
	</section>
</body>

</html>