<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				th:replace="base::layout(~{::section})">
<head>`
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>
	<section class="mb-5 ms-3">
		<div class="row mt-5 col-12 mx-auto">
			<div class="row">
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
			</div>
			<div class="row mt-1">
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
			</div>
			<div class="row mt-1">
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
			</div>
			<div class="row mt-1">
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
				<div class="col-3">
				 	<img src="..." th:src="@{'images/club.jpg'}" style="width: 15rem;"
					class="" alt="...">
				</div>
			</div>
		</div>
	</section>
</body>
</html>