<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />

<title>Login</title>
</head>
<body>
	<section>
		<div class="container mt-2">
			<div class="main-body mt-3">

				<div class="row gutters-sm pt-3 bg-dark">
					<div class="col-md-4 mb-5 bg-dark">
						<div class="card bg-dark">
							<div class="card-body">
								<div class="d-flex flex-column align-items-center text-center">
									<img src="https://bootdey.com/img/Content/avatar/avatar7.png"
										alt="Admin" class="rounded-circle" width="150">
									<div class="mt-3">
										<h4 class="text-white" th:text="${name}"></h4>
										<p class="text-secondary mb-1">Full Stack Developer</p>
										<p class="text-muted font-size-sm">Bay Area, San
											Francisco, CA</p>
										<button class="btn btn-primary">Follow</button>
										<button class="btn btn-outline-primary">Message</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Card Info -->	
						<div class="card mt-5 ">
							<ul class="list-group list-group-flush">
							<!-- Add Player -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-globe mr-2 icon-inline">
											<circle cx="12" cy="12" r="10"></circle>
											<line x1="2" y1="12" x2="22" y2="12"></line>
											<path
												d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
										Website
									</h6> <span class="text-secondary"><button type="button"
											class="btn btn-danger" data-bs-toggle="modal"
											data-bs-target="#staticBackdrop">Add Player</button></span>
								</li>
								<!-- View Player -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-github mr-2 icon-inline">
											<path
												d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
										Github
									</h6> <a th:href="@{/user/viewPlayers}">
										<button type="button" class="btn btn-secondary">View
											Players</button>
								</a>
								</li>
								<!-- Add Tournament -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-twitter mr-2 icon-inline text-info">
											<path
												d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
										Twitter
									</h6> <span class="text-secondary"><button type="button"
											class="btn btn-danger" data-bs-toggle="modal"
											data-bs-target="#staticBackdropTour">Add Tournament</button></span>
								</li>
								<!-- View Tournament -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-instagram mr-2 icon-inline text-danger">
											<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
											<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
											<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
										Instagram
									</h6> <span class="text-secondary">
									<a th:href="@{/user/viewclubtour}">
									<button type="button"
											class="btn btn-danger" >View Tournaments</button></a></span>
								</li>
								<!-- Settings -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-facebook mr-2 icon-inline text-primary">
											<path
												d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
										Facebook
									</h6> <span class="text-secondary"><button type="button"
											class="btn btn-danger">Settings</button></span>
								</li>
								<!-- Logout -->	
								<li
									class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-facebook mr-2 icon-inline text-primary">
											<path
												d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
										Facebook
									</h6> <span class="text-secondary"><a th:href="@{/logout}"><button
												type="button" class="btn btn-outline-danger"1 >Logout</button></a></span>
								</li>
							</ul>
						</div>
					</div>
					<!-- Club Information -->	
					<div class="col-md-8">
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Full Name</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<span th:text="${name}"></span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Email</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<span th:text="${email}"></span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Phone</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<span th:text="'+0731 '+${contact}"></span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Mobile</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<span th:text="${contact}"></span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Address</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<span th:text="${address}"></span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-info " target="__blank"
											href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row gutters-sm">
							<div class="col-sm-6 mb-3">
								<div class="card h-100">
									<div class="card-body">
										<h6 class="d-flex align-items-center mb-3">
											<i class="material-icons text-info mr-2">Outdoor</i>Games
										</h6>
										<small>Web Design</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 80%" aria-valuenow="80" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Website Markup</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 72%" aria-valuenow="72" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>One Page</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 89%" aria-valuenow="89" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Mobile Template</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 55%" aria-valuenow="55" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Backend API</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 66%" aria-valuenow="66" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-3">
								<div class="card h-100">
									<div class="card-body">
										<h6 class="d-flex align-items-center mb-3">
											<i class="material-icons text-info mr-2">assignment</i>Project
											Status
										</h6>
										<small>Web Design</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 80%" aria-valuenow="80" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Website Markup</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 72%" aria-valuenow="72" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>One Page</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 89%" aria-valuenow="89" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Mobile Template</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 55%" aria-valuenow="55" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<small>Backend API</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar"
												style="width: 66%" aria-valuenow="66" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>

			</div>
		</div>


		<!-- Add Player modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Player Info</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/user/savePlayer}" method="POST">

							<!-- First & Last name -->
							<div class="mb-1 row">

								<!-- First name -->
								<div class="col-12">
									<label for="exampleInputEmail1" class="form-label">Player
										Name</label> <input required type="text" class="form-control"
										name="CPName" id="exampleInputEmail1"
										aria-describedby="emailHelp">
								</div>

							</div>

							<!-- Age -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Age </label>
								<input required type="text" class="form-control" name="CPAge"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>


							<!-- Contact -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Contact
									no.</label> <input required type="text" class="form-control"
									name="CPContact" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>

							<!-- Email -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Email
									Address</label> <input required type="email" class="form-control"
									name="CPEmail" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>

							<!-- Image -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Image</label>
								<input required type="text" class="form-control" name="CPImage"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>

							<!-- Domain -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Domains</label>
								<input required type="text" class="form-control" name="CPDomain"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>

							<!-- Address -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Address</label>
								<input required type="text" class="form-control"
									name="CPAddress" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							<!-- Close & Submit -->	
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<!-- Add tournament modal -->
		<div class="modal fade" id="staticBackdropTour" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Tournament Info</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/user/saveTour}" method="POST">

                            <!--Tournament name -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Tournament Name</label> 
								<input required type="text" class="form-control"
									name="TName" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							
							<!--Tournament name -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Tournament Domain</label> 
								<input required type="text" class="form-control"
									name="TDomain" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>

							<!-- Start Date -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Start Date</label> 
								<input required type="text" class="form-control"
									name="TSDate" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							
							<!-- End Date -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">End Date</label> 
								<input required type="text" class="form-control"
									name="TEDate" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>

							<!-- Place -->
							<div class="mb-1">
								<label for="exampleInputEmail1" class="form-label">Place</label>
								<input required type="text" class="form-control" name="TPlace"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>

							<hr/>
							<!-- Close & Submit -->	
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>